doctype html
html(lang="en")
  head
    title= title
  body
    h1= title
    h3= poll.name
    h4
      #poll-status
        if !poll.active
          span Poll has closed
        else
          h4= "Poll is open"
          button(id=index class="close-poll") Close poll
          br

    div(id="vote-tally-" + pollId)
      each val, index in poll.votes
        span= poll[index] + ": " + val
        br

    h3
      a(href="/polls/" + pollId) Admin link
    h3
      a(href="/voting/" + pollId) Voting link
    script(src="/socket.io/socket.io.js")
    script(src="/client.js")