doctype html
html(lang="en")
  head
    title= title
  body
    h1= title
    h3= poll.name
    ul
      li= poll.option1 + ": " + poll.votes.a
      li= poll.option2 + ": " + poll.votes.b
      li= poll.option3 + ": " + poll.votes.c
      li= poll.option4 + ": " + poll.votes.d
    h3
      a(href="localhost:3000/polls/" + pollId) Admin link
    h3
      a(href="localhost:3000/voting/" + pollId) Voting link
    script(src="/socket.io/socket.io.js")
    script(src="/client.js")