doctype html
html(lang="en")
  head
    title= title
  body
    h1= title
    h2= ids
    ul
      each val, index in polls
        h3= val.name
        li= val.a
        li= val.b
        li= val.c
        li= val.d
        li
          a(href="localhost:3000/polls/" + index, target='_blank') View poll details

    include ./includes/footer.jade

