doctype html
html(lang="en")
  head
    title= title
  body
    h1= title
    h3= poll.name
    h4
      #poll-status
        if !poll.active
          span Poll has closed
        else
          h4= "Poll is open"
          br

    div(id="voting-buttons")
      #close-buttons
        each val, index in poll.votes
          span= poll[index]
          if poll.active
            button(id=index class="options-button" name=poll.name) select
          br


    include ./includes/vote-tally.jade

    include ./includes/footer.jade
