doctype html
html(lang="en")
  head
    title= title
  body
    h1= title
    h3= poll.name

    ul
      li= poll.option1 + ": " + poll.votes.A
        button(id="a" class="options-button") select
      li= poll.option2 + ": " + poll.votes.B
        button(id="b" class="options-button") select
      li= poll.option3 + ": " + poll.votes.C
        button(id="c" class="options-button") select
      li= poll.option4 + ": " + poll.votes.D
        button(id="d" class="options-button") select

    script(src="/socket.io/socket.io.js")
    script(src="/client.js")