doctype html
html(lang="en")
  head
    title= title
  body
    h1= title
    h3= poll.name
    ul
      li= poll.option1
        button(onclick='#selectOption1()}') select
      li= poll.option2
        button(onclick='#selectOption2()}') select
      li= poll.option3
        button(onclick='#selectOption3()}') select
      li= poll.option4
        button(onclick='#selectOption4()}') select
