doctype html
html(lang="en")
  head
    title= title
  body
    h1= title
    h3= poll.name

    div(id="voting-buttons")
      each val, index in poll.votes
        span= poll[index]
        button(id=index class="options-button" name=poll.name) select
        br


    div(id="vote-tally-" + pollId)
      each val, index in poll.votes
        span= poll[index] + ": " + val
        br

    script(src="/socket.io/socket.io.js")
    script(src="/client.js")